.list-item-container {
  border: black solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto
}

.list-item-title {
  background-color: lightcyan;
  height: 40px;
}