.calendar-wrapper {
  position: relative;
}

.add-event-button {
  position: absolute;
  top: -20px;
  right: 0px;
  width: 40px;
}

.fc {

  .fc-daygrid-event-dot {
    border-color: var(--pink);
  }
  .fc-event-main {
    border-color: var(--pink);
    background-color: var(--pink);
  }
  .fc-day-today {
    background-color: transparent !important;  // Ensures it overrides any other background color set
  }

}