.footer-container {
  background-color: rgba(248, 177, 185, 0.5);
  height: 30px
}

.header-container {
  background-color: rgba(248, 177, 185, 0.5);
  height: 40px;
  width: 90%;
  margin: 0 auto;
}

.list-title {
  color: black;
  text-align: center;
}

.add-form-container {
  text-align: center;
  width: 100%;
  border: 1px black solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  input {
    width: 70%;
    background-color: #00384528;
    height: 40px;
    border: 0px;
  }

  button {
    border: 0px;
    background-color: white;

    .add-button {
      position: relative;
      width: 40px;
      height: 40px;
    }

  }

}
