.footer-container {
  background-color: rgba(248, 177, 185, 0.5);
  height: 30px
}

.header-container {
  background-color: rgba(248, 177, 185, 0.5);
  height: 40px;
  width: 90%;
  margin: 0 auto;
}

.list-title {
  color: black;
  text-align: center;
}
