$pinkFull : rgba(255, 171, 171, 1);
$pinkOpaque : rgba(255, 171, 171, 0.28);
$blueFull : rgba(0, 56, 69, 1);
$blueOpaque : rgba(0, 56, 69, 0.28);

@mixin vertical-gradient-topdown($from, $to, $filter:true, $stop:100%) {
  background: $from; /* Old browsers */
  background: linear-gradient(to bottom, $from 40%, $to $stop); /* W3C */
  @if(filter == true) {
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}',GradientType=0 ); /* IE6-9 */
  }
}

html {
  @include vertical-gradient-topdown(#ffffff, $pinkOpaque);

}

.pomodoro-headers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pomodoro-form-container {
  h2 {
    color: #000;
  }
}


.pomodoro {
  // padding: 70px 0;
  // @include vertical-gradient-topdown(#ffffff, $pinkOpaque);
  height: 100%;
  padding-bottom: 50px;

}

.timer-labels {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.timer-setting-bubble {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;

  p {
    font-size: 22px;
    color: $blueFull;
  }
  
}

.timer-setting-bubble button{
  width: 140px;
  height: 45px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: $pinkOpaque;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 8px 15px $blueOpaque;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  max-width: 100px;
}

.timer-setting-bubble button:hover{
  background-color: $blueFull;
  box-shadow: 0px 15px 20px rgba(46, 108, 157, 0.4);
  color: #fff;
}

.set-timer-button {
  width: 140px;
  height: 45px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: $pinkOpaque;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 8px 15px $blueOpaque;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.set-timer-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px
}

.time-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.timer-alert {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.timer-description {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

.set-timer-button:hover {
  background-color: $pinkFull;
  box-shadow: 0px 15px 20px rgba(46, 108, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.timer-set {
  width:30px;
  height:30px;
  color:#000;
  border-radius: 50px;
  text-align: center;
}

.focus-timer-hr {
  height: 3px;
  color: $pinkOpaque;
  background-color: $pinkOpaque;
  border: $pinkOpaque;
  margin-top: -7px;

}